<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exppense Tracker</title>
    <link href="/css/home.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/logo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color: #20262E;">
  <!-- Image and text -->
<nav class="navbar navbar-light bg-dark">
  <a style="color: #E9E8E8;" class="navbar-brand" href="#">
    <img src="/assets/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
    Expense Tracker
  </a>
  <a style="background-color: #913175; border-color: #CD5888;" class="btn btn-primary" href="/logout">Logout</a>
</nav>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 style="color: #E9E8E8; text-align: center;">Add New Expense 💸</h3><br>
        <form>
          <div class="form-group">
            <label for="exampleFormControlInput1" style="color: #E9E8E8;">Expense Amount</label>
            <input type="number" class="form-control" name="amount" id="amount" placeholder="Example : 1000" required>
          </div>
          <div class="form-group">
              <label style="color: #E9E8E8;" for="exampleFormControlInput1">Expense Description</label>
              <input type="text" class="form-control" name="desc" id="description" placeholder="Example : Swiggy" required>
          </div>
          <div class="form-group">
            <label style="color: #E9E8E8;" for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" id="category" name="category">
              <option value="Food">Food</option>
              <option value="HouseHold">HouseHold</option>
              <option value="Transport">Transport</option>
              <option value="Others">Others</option>
            </select>
          </div>
          <div class="form-group">
              <input type="submit" style="color: #E9E8E8; background-color: #CD5888; border-color: #913175;" class="form-control" id="exampleFormControlInput1">
          </div>
          <small style="color: green;" class="newExpense"></small>
        </form>
      </div>
      <div style="color: #E9E8E8;" class="col">
        <h3 style="text-align: center;">LeaderBoard 👑</h3>
        <br>
        <div class="leaderboardColumn">
          
        </div>
    </div>
  </div>
    <br><br>

    <!-- Container to show Expense List -->
    <div class="container-fluid">
      <h3 style="color: #E9E8E8;">Download Reports</h3>
      <button style="background-color: #913175; border-color: #CD5888;" class="btn btn-primary" id="dailyReport">Daily</button>
      <button style="background-color: #913175; border-color: #CD5888;" class="btn btn-primary" id="monthlyReport">Monthly</button>
      <button style="background-color: #913175; border-color: #CD5888;" class="btn btn-primary" id="yearlyReport">Yearly</button>
      <br>
      <small style="color: red;" id="subscribeMessage"></small>
      <br><br>
      <span style="color: #E9E8E8;">No Of Rows Per Page : </span>
      <select name="sizeOfPage" id="sizeOfPage">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <br>
      <br>
      <div class="showExpenses">
        <table class="table expenseTable" style="color: #E9E8E8;">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="expenseTableBody">

          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

          </ul>
        </nav>
      </div>
    </div>

    <!-- Modal to edit the expense details -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Edit Expense</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="editForm">
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleFormControlInput1">Expense Amount</label>
                <input type="number" class="form-control" name="amount" id="newAmount" placeholder="Example : 1000" required>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1">Expense Description</label>
                  <input type="text" class="form-control" name="desc" id="newDescription" placeholder="Example : Swiggy" required>
                  <input type="hidden" class="form-control" name="id" id="id">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Select Category</label>
                <select class="form-control" id="newCategory" name="category">
                  <option value="Food">Food</option>
                  <option value="HouseHold">HouseHold</option>
                  <option value="Transport">Transport</option>
                  <option value="Others">Others</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color: #913175; border-color: #CD5888;" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" style="background-color: #913175; border-color: #CD5888;" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>